.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    align-items: normal;
    /*align-items: center;*/
}
#menu-main{
	height:100%;
}
#menu-top{
	width:100%;
	background-color: #2b4f65;
	padding: 2px;
}

/* #menu-top ul{
		background-color: #133042;
} */

#menu-main-logo{
	width: 60%;
	padding-right:0px;
	justify-content: flex-start!important;
	background-repeat: no-repeat; background-position: left;
	background: none;
}

#header{
		background:none;
}

/*#menu-main-logo{
	background-color: blue;
	position: relative;
	width: 30%;
	height: 70px;
  	background: black;
  	border-radius: 12px;
  	overflow: hidden;
  	padding-right:75px;
}

#menu-main-logo::after{
	content: '';
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 75px 120px 0;
  	border-color: transparent yellow transparent transparent;
  	right: 0;
  	top: 0;
  	position: absolute;
}*/

.container-fluid-extend {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#header-nav{
	padding-left: 0px!important;
    padding-right: 0px!important;;
}

#menu-top .icon-link, #menu-top .icon-link a{
	color:white;
	
}

#menu-top ul{
	display: block !important;
	width: 100%;
}




.logo-header{
	max-width:200px;
	max-height:90px;
}

.logo-footer{
	max-width:200px;
	max-height:200px;
}

#brand-collection img{
	max-height:60px;
}

.btn-dm{
	text-decoration: none !important;
}
.widget-title{
	color: var(--bs-primary) !important;
}

.fixedButton{
    position: fixed;
    bottom: 0px;
    left: 0px; 
    padding: 20px;
    z-index: 9999;
    text-align: center;
    
}
.roundedFixedBtn{
  height: 60px;
  line-height: 60px;  
  width: 250px;  
  font-size: 1.5em;
  font-weight: bold;
  /*border-radius: 50%;*/
  /*background-color: #4CAF50;*/
  color: white;
  text-align: center;
  cursor: pointer;
  border:1px solid var(--bs-secondary);
  border-radius: 10px;
  background-color: rgba(var(--bs-primary-rgb), 0.99);
}
.roundedFixedBtn img{
	/*border:1px solid #787d62;
	border-radius: 50%;*/
}

.navbar-nav .nav-item a.nav-link {
  padding-left: 20px;
  padding-right: 20px;
  /*color:white;*/
  color: var(--bs-primary);
}


/*.navbar-nav .nav-item a.nav-link.active, .navbar-nav .nav-item a.nav-link:focus, .navbar-nav .nav-item a.nav-link:hover {
  color: var(--bs-secondary);
  background-color: var(--bs-primary); 
}*/



.navbar-nav .nav-item a.nav-link:active, .navbar-nav .nav-item a.nav-link:focus, .navbar-nav .nav-item a.nav-link:hover {
  color: var(--bs-secondary);
  /*color:white !important;*/
  background-color: var(--bs-primary); 
  /*border-radius: 10px;*/

}

/*.navbar-nav .nav-item a.active{
	color:white !important;
}*/

#navbar .user-items ul li{
	color: var(--bs-primary);
}

#header-nav{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom:0px !important;
}
.navbar-brand{
	padding-top: 0px;
	padding-bottom: 0px;
}
.fixed-top{
	/* background-color: var(--bs-secondary);
	border: 1px solid var(--bs-primary); */
	/* background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important; */
	/* border-bottom: 2px dashed var(--bs-primary); */
	background-color: #e7e7e7; 
	/*background-color:#46aad0;
	background-color: #2b4f65;*/
	/* padding-top: 0px;
	padding-bottom: 0px; */
}

.fixed-top .logo-header{
	height:50px;
}
/*for mobile*/
.fixed-top .logo-header{
	padding-top:0.5rem;
}

.fixed-top .d-social{
	display: none !important;
}

.fixed-top a.nav-link {
  /*color: white !important;*/
 
}
.fixed-top #navbar .user-items ul li{
	color: white;
}
.fixed-top #header-nav{
	height:60px;
}

.navbar-nav .nav-item a.nav-link{
  font-weight: bold;
}

.fixed-top .nav-item a.nav-link{
	font-weight:normal !important;
}

header .top-header li:first-child {
    margin-left: 0;
}
header .top-header li.icon-link {
    margin: 0 5px;
    padding-right:10px;
    font-size: 90%;
}

.dropdown-menu {
    border: 1px solid var(--bs-primary);
    border-radius: 0px;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0px;
}

.display-2-small {
    font-size: 2.5rem !important;
}

.has-menu-sub2{
	
}

.menu-sub2{

}

#billboard .swiper-pagination {
    /*left: -36%;*/
    /*bottom: 300px;*/
    bottom: 100px;
}

.menu-sub2 li:first-child{
	font-weight: bold;
	padding-left: 15px;
	color: var(--bs-primary);
	/*text-align: center;*/
}

#menu-top ul{
		padding:10px;
}
#menu-top ul li{
		padding-top:5px;
}
#menu-top ul li:first-child{
		padding-top:0px;
}


@media (min-width: 992px){
	.has-menu-sub2{
		width:600px;
	}
	.menu-sub2{
		float:left;
		width:200px;
	}
	.menu-sub2 li:first-child{
		
	}
	
	.dropdown:hover>.dropdown-menu {
        display: block;
    }
    
    #menu-main-logo{
		width: 20%;
		padding-right:75px;
		justify-content: flex-end!important;
		background-image: url(/img/bg-logo.png?v=5);
		background-repeat: no-repeat; 
		background-position: right;
	}
	#header{
		background-image: url(/img/bg-body.png?v=5); 
		background-repeat: repeat-x; 
		background-position: right;
	}
	
	#menu-top ul{
		background-color: none;
		display: flex !important;
		justify-content: center!important;
		padding:0px;
	}
	
	#menu-top ul li{
		padding-top:0px;
	}
	
	
	#footer{
		/*background-color: #46aad0;*/
		background-color: #133042;
		background-image: url(/img/bg-footer.png?v=5); 
		color: white;
		background-size: 100% 100% !important;
	}
	
	#company-services{
		background-color: #efefef;
		background-image: url(/img/bg-services.png?v=5); 
		background-size: 100% 100% !important;
	}
	
	.fixed-top{
		/* background-color: var(--bs-secondary);
		border: 1px solid var(--bs-primary); */
		/* background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important; */
		/* border-bottom: 2px dashed var(--bs-primary); */
		background-color: #2b4f65;
		/* padding-top: 0px;
		padding-bottom: 0px; */
	}
	.fixed-top a.nav-link {
	  color: white !important;
	}
	
	.fixed-top .logo-header{
		padding-top:0rem;/*for desktop*/
	}

}

#footer{
		background-color: #133042;
		background-image: url(/img/bg-footer.png?v=5); 
		color: white;
		background-repeat: no-repeat;
		background-size: cover;
}


#footer a{
	color: white;
}

#footer .widget-title{
	font-weight: bold;
	color: white !important;
}

#footer .contact-item a:hover{
	color:red;
}

/*company-services*/
#company-services{
	background-color: #efefef;
	background-image: url(/img/bg-services.png?v=5); 
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-box .icon-box-content {
    width: 100%;
    margin-top:20px;
}

.icon-box-content .card-title {
    color: var(--bs-primary) !important;
}

.col-serv{
	display: flex;
    align-items: center;
    flex-direction: column;
}
/*end company-services*/


/*blog*/
#latest-blog{
	background-color: #efefef;
}
.bg-building{
	background-color: #efefef;
	background-image: url(/img/bg-hero.png?v=0); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.bg-building, .bg-building a{
	color: white;
}
/*end blog*/


/*post*/
.hero-title{
	font-size: 2rem;
}
.p-description{
	font-style: italic;
}
.post-wrap{
	text-align: justify;
}
.post-item h2{
	margin-top: 0;
    margin-bottom: 1rem;
    color: var(--bs-primary);
}
/*end post*/

/* product */
.img-color{
	cursor: pointer;
	width:50px;
	margin-right:10px;
}

.detail-list .btn.btn-medium {
    padding: 0.5em 0.5em;
    font-size: 2em;
    letter-spacing: 1px;
}

.product-info, .description-content{
	text-align: justify;
}

.description-content img{
	max-width: 100%;
}

.img-color-active{
	border: 2px solid red !important;
}

.image-holder .product-image:hover{
	border:1px solid #2d5167;
}


/*.slide-hide{
	display: none;
}*/
/* end product */
